<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav style="position: fixed; width: 84.9%" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Tk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div
                style="background-image:url(https://cdn.meetingroomapp.com/website/uploads/2017/05/hero-bg.jpg); padding-bottom: 20px; background-position: center; background-repeat: no-repeat; background-size: cover">
            <div>
                <div>
                    <div>
                        <div>
                            <div style="color: white" align="center">
                                <p>
                                <h3>Система бронирования для</h3></p>
                                <p>
                                <h1>залов, заседаний и <br/>митингов</h1></p>
                                <br/>
                                <p>
                                    <button style=" background-color: green; border: solid green; border-radius: 25px;">
                                        <a href="#content"><span
                                                    style="font-size: 20px; color: white">Узнать больше</span></a>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ range . }}
    <div class="col-4">
        <div class="card">
            <img src="../media/{{.FileName}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Комната {{ .Name }}</h5>
                <p class="card-text">
                <h3><span class="badge badge-pill badge-danger">Свободно </span></h3></p>

            </div>
        </div>
    </div>
</div>
{{ end }}
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>